# Environment variables
.env
.env.*.local
*.env
# Jangan pernah commit API key Supabase

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Output / build
dist/
build/
.tmp/
.temp/

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Optional cache
.cache/
.eslintcache

# Coverage test
coverage/

# Local server files
*.pid
*.seed
*.pid.lock

# Optional: Docker
docker-data/
